.Button {
    color: var(--inverted-primary-color);
    padding: 5px;
    margin: 5px;
    margin-left: 12px;
    border: 1px solid var(--inverted-primary-color);
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--invert-bg-color) ;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}