.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--invert-bg-color);
    position: relative;
    transition: width 0.3s;
    border-top: 5px solid var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.toggle {
    font-size: 30px;
    background: none;
    position: absolute;
    left: calc(100% - 30px);
    top: 50%;
    border: none;
}