.PageError {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1a153b;
    color: #dbdbdb;
    font-size: 40px;
}

.reload {
    border: 4px solid white;
}