.app.dark {
    --bg-color: #0f0f7a;
    --invert-bg-color: #a5a5b6;
    --primary-color: #218921;
    --secondary-color: #07c007;
    --inverted-primary-color: #1340ba;
    --inverted-secondary-color: #2b41fe;
}