.app.dark {
    --bg-color: #0C1214;
    --invert-bg-color: #151c1f;
    --primary-color: #dbdbdb;
    --secondary-color: #555;
    --inverted-primary-color: #555;
    --inverted-secondary-color: #dbdbdb;
}