.app.light {
    --bg-color:#fff;
    --invert-bg-color: #EFF5F6;
    --primary-color: #141C1F;
    --secondary-color: #2b41fe;
    --inverted-primary-color: #707d81;
    --inverted-secondary-color: #07c007;
}